<tbody>
  <tr>
    <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
    <td><%= link_to fetch_gist_hash_from_url(gist.gist_url), gist.gist_url, target: '_blank' %></td>
    <td><%= gist.user.email %></td>

    <td class="align-middle">
      <%= link_to t('links.delete'),
                  admin_gist_path(gist),
                  method: :delete,
                  data: { confirm: t('links.are_you_sure') },
                  class: 'btn btn-danger' %>
    </td>
  </tr>
</tbody>
