<footer style=" width: 100%; text-align: center; position: absolute; left: 0; bottom: 0;">
  <p>Made by: Georgiy B. GitHub: <%= github_url('georgiybykov', 'test-guru') %></p>
  <%= current_year %>
  <p>
    About project: This project is about creating tests and pass through other ones.
    <%= link_to "Training project from Thinknetica Web-Development Course", 'https://thinknetica.com', target: '_blank' %>
  </p>
</footer>
