<h1><%= t('.header', test_title: @question.test.title) %></h1>

<%= render 'form' %>

<p>
  <%= link_to t('.delete_question_button'),
              admin_question_path(@question),
              method: :delete,
              data: { confirm: t('.are_you_sure') } %>
  <%= link_to t('.back_to_test_qstn'), admin_test_path(@question.test) %>
</p>
