<h1><%= t('.header', test_title: @question.test.title) %></h1>

<%= render 'form' %>

<p>
  <%= link_to t('links.delete'),
              admin_question_path(@question),
              method: :delete,
              data: { confirm: t('links.are_you_sure') } %> |
  <%= link_to t('links.back'), admin_test_path(@question.test) %>
</p>
