<h1>Edit <%= @test.title %> test</h1>

<%= render 'form' %>

<%= link_to 'Delete',
            test_path(@test),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', tests_path %>
